<main class="form-signin w-100 m-auto p-5">
    <form class="needs-validation" novalidate="" [formGroup]="changePasswordFormGroup" (submit)="changePassword()">
        <div class="form-floating">
            <mat-form-field class="example-full-width">
                <input type="password" id="floatingInput" matInput [errorStateMatcher]="matcher"
                    [formControlName]="'password'" placeholder="">
                <mat-label>Password</mat-label>
                @if (changePasswordFormGroup.get('password').hasError('required')) {
                <mat-error>Password is <strong>required</strong></mat-error>
                }
            </mat-form-field>
        </div>
        <div class="form-floating">
            <mat-form-field class="example-full-width">
                <input type="password" class="form-control" matInput 
                [errorStateMatcher]="matcher" id="floatingPassword" [formControlName]="'newPassword'">
                <mat-label>New Password</mat-label>
                @if (changePasswordFormGroup.get('newPassword').hasError('required')) {
                <mat-error>New Password is <strong>required</strong></mat-error>
                }
            </mat-form-field>
        </div>
        <div class="form-floating">
            <mat-form-field class="example-full-width">
                <input type="password" class="form-control" matInput 
                [errorStateMatcher]="matcher" id="floatingPassword" [formControlName]="'confirmPassword'">
                <mat-label>Confirm Password</mat-label>
                @if (changePasswordFormGroup.get('confirmPassword').hasError('required')) {
                <mat-error>Confirm Password is <strong>required</strong></mat-error>
                }
            </mat-form-field>
        </div>


        <button class="btn btn-primary w-100 py-2" type="submit">Change Password</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
    </form>
</main>